name: Docker

on:
  push:
  schedule:
    - cron: "00 23 * * *"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
        docker build . --file Dockerfile --tag registry.cn-hangzhou.aliyuncs.com/dqyt/tooldelta:latest
        docker push registry.cn-hangzhou.aliyuncs.com/dqyt/tooldelta:latest